.card-container {
    width: 30%;
    height: 500px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
   
    cursor: pointer;
box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    &:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transform: scale(0.98);
        .image-class{
            transform: scale(1.1);
        }
    }
    position: relative;

    .card-image {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 240px;
        object-fit: contain;
        overflow: hidden;
        .image-class {
            width: 35%;
            object-fit: contain;
            transition: transform 0.5s ease-in-out;
            &:hover{
                transform: scale(1.1);
            }
            /* mix-blend-mode:color */

        }
    }

    .card-text-content {
        padding-top: 24px;
        padding-left: 12px;
        padding-right: 12px;

        .card-title {
            font-size: 16px;
            font-weight: 700;
        }

        .card-catogery {
            padding-top: 8px;
            font-size: 12px;
            font-weight: 500;
            color: gray;
        }

        .card-price {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 12px;
            padding-top: 8px;
            /* font-size: 18px;
      font-weight: 700;
      color: black; */

            .card-price-title {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                gap: 0px;
                font-size: 16px;
                font-weight: 700;


            }



            .prev-price {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-size: 14px;
                font-weight: 500;
                color: gray;
                text-decoration: line-through;

            }

            .card-offer {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-size: 14px;
                font-weight: 700;
                color: green;

            }



        }

        .card-ratings {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 12px;
            padding-top: 8px;

            .card-rating-title {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                font-size: 16px;
                font-weight: 700;

                &.good {
                    color: green;
                }

                &.bad {
                    color: gray;
                }
            }

            .card-rating-count {
                font-size: 12px;
                font-weight: 500;
                color: gray;

            }


        }


        .toggle-images {
            width: 100%;

            .image-circle {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                /* margin-right: 12px; */
                cursor: pointer;
                border: 1px solid red;
            }
        }

    }

    .card-btn-container{
        width: 100%;
        margin-top: auto;
        padding-bottom: 12px;
        .add-to-cart-btn{
            cursor: pointer;
           width: 90%;
           margin: auto;
           /* padding-top: 20px; */
           padding: 8px;
           display: flex;
           align-items: center;
           justify-content: center;
           font-size: 16px;
           font-weight: 500;
           border-radius: 8px;
           background-color: #2874f0;
           transition: transform 0.5s ease-in-out;
           
           &.item-in-cart{
            transform: scale(0.95);
            background-color: #236ae2;
            color: white;
            cursor: default;
 
           }

           &:hover{ 
            transform: scale(0.95);
            background-color: 236ae2;
           }
    
    
        }
    }

}


.card-container-loading-state{
    width: 30%;
    height: 500px;
    border-radius: 16px;
    border: 1px solid lightgray;
    cursor: pointer;
    padding: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
    &:hover {
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
    }
}
